mat-chip {
    max-width: 200px;
  }
  .chip {
    margin-right: 2vw;
    display: flex;
    flex-direction: column;
}

.chiptext {
    visibility: hidden;
    width: 80px;
    max-width:6vw;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    margin-top: 50px;
    height: 5vh;
    font-size: 8px;
    overflow-wrap: break-word;
    white-space: nowrap;
    position: absolute;
    z-index: 1;
}

.chip:hover .chiptext {
    visibility: visible;
}