<mat-chip-list *ngIf="reseniNereseniObjekat">
  <div class="chip">
    <mat-chip>{{reseniNereseniObjekat.nereseni}}</mat-chip>
    <div class="chiptext">Checked</div>
  </div>
  <div class="chip">
    <mat-chip>{{reseniNereseniObjekat.reseni}}</mat-chip>
    <div class="chiptext">Unchecked</div>
  </div>
</mat-chip-list>