<mat-toolbar color="primary">
  <div class="toolbar">
    <div class="toolbar-label">Lista zadataka</div>
    <app-chips-component [reseniNereseniObjekat]="reseniNereseniObjekat"></app-chips-component>
  </div>
</mat-toolbar>