<div class="text-form-field-class">
  <div class="text-form-field-class-input">
    <mat-form-field>
      <mat-label>New todo item</mat-label>
      <input matInput placeholder='Description of the item' [formControl]="description" required>
      <mat-error *ngIf="description.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div class="text-form-field-class-button">
    <button mat-raised-button (click)="onAdd()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>