.text-form-field-class {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:20px;
    &-input{
        width:80%;
        > * {
                width: 100%;
              }
    }
    &-button{
        margin:10px 5%;
        width:10%;
        > * {
                width: 100%;
              }
    }
  }
