.zadatak-class{
    margin: 0 0 3px 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    padding:5px;
    border: 1px lightblue solid;
    line-height: 100%;
    &-id {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        width: 8vw;
        padding-left: 2vw
    }
    &-description { 
        text-align: left;
        overflow-wrap: break-word;
        width: 58vw;
        padding-left: 10vw;
    }
    &-is-checked {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width:12vw;
        padding-left: 5vw;
        padding-right: 10vw
    }
 
}