<mat-list>
  <div *ngIf="listaZadataka !=[]" class="zadatak-list-class">
    <div *ngFor="let zadatak of listaZadataka" class="zadatak-class">
      <div class="zadatak-class-id">
        <div>
          {{zadatak.id}}
        </div>
      </div>
      <div class="zadatak-class-description">
        {{zadatak.description}}
      </div>
      <div class="zadatak-class-is-checked">
        <mat-checkbox class="example-margin" [ngModel]="zadatak.isChecked" (change)="updateListItem(zadatak)">Checked</mat-checkbox>
      </div>
    </div>
  </div>
</mat-list>