<app-lista (emitForChips)="_emitForChips($event)">
</app-lista>
<app-text-form-field></app-text-form-field>

<div [className]="generateButtonClass">
  <button mat-raised-button (click)="pokreniGenerator()">
    {{generateButtonValue}}
  </button>
</div>