<app-toolbar [reseniNereseniObjekat]="reseniNereseniObjekat"></app-toolbar>
<app-dashboard 
    (emitForChips)="emitForChips($event)">
</app-dashboard>

<div [className]="showLoaderClass" class="zadatak-class-spinner">
    <mat-spinner></mat-spinner>
</div>
