.zadatak-class-spinner{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    mat-spinner{
        margin-top:7vw;
    }
    &-hide{
        display: none;
    }
}